<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="login.css">
</head>
<body>
	<form action="loginAction" method="post" name="login" class="loginform">
		<div class="login-page">
			<div class="form">
				<form class="login-form">
					<input type="text" placeholder="username" /> <input type="password"
						placeholder="password" />
					<button>Login</button>
				</form>
			</div>
		</div>
	</form>
</body>
</html>