<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:if="${CategoryList != null && Specification == null}">
		<span>Choose product category</span>
		<div>
			<form th:action="@{/admin/products-management/create-product/step-1}" method="get">
				<select name="Categorychosen">
					<div th:each="category :${CategoryList}">
						<option th:if="${category.parentID !=0}" th:value="${category.categoryName}"  
						th:utext="${category.categoryName}"></option>
					</div>
				</select>
				<br>
				<span>Specify the number of color variant that this product will have:</span>
				<input type="number" name="ColorVariantNumber" min="0" max="100" step="1" value="0">
				<input type="submit" value="Create">
			</form>
		</div>
	</div>
	
	<div th:if="${ProductInputForm != null}">
		<form th:action="@{/admin/products-management/create-product}" th:object="${ProductInputForm}" method="post" 
		enctype="multipart/form-data">
			<br>
			<input type="hidden" name="CateChosen"  th:value ="${CateChosen}">
			<span>Product main attributes</span>
			<div>
				<span>Product ID</span>
				<input type="text" th:field="*{productID}" required>
			</div>
			<br>
			<div>
				<span>Product Name</span>
				<input type="text" th:field="*{productName}" required>
			</div>
			<br>
			<div>
				<span>Product Price</span>
				<input type="number" th:field="*{price}" required min="50000" max="999000000" step="1000">
			</div>
			<br>
			<div>
				<span>Product ManufacturerID</span>
				<select th:field="*{manufacturerID}">
						<div th:each="brand :${ManuList}">
							<option th:value="${brand.manufacturerID}"  
							th:utext="${brand.manufacturerName}"></option>
						</div>
				</select>
				<br>
			</div>
			<br>
			<div>
				<span>Product CategoryID</span>
				<input type="number" th:field="*{categoryID}" required readonly="readonly">
			</div>
			<br>
			<div>
				<span>Product Warranty</span>
				<input type="number" th:field="*{productWarranty}" required>
			</div>
			<br>
			<div>
				<span>Product Image</span>
				<input type="file" th:field="${MultipartField.imageFile}" required accept="image/png, image/jpeg, image/webp">
			</div>
			<br>
			<div>
				<span>Product Interest Rate</span>
				<input type="number" th:field="*{interestRate}" required min="0" max="20" step="0.01">
			</div>
			<br>
			<div>
				<span>Product Exclusive</span>
				<input type="radio" name="CheckExclusive" value="Exclusive" required="required"> Yes
          	  	<input type="radio" name="CheckExclusive" value="NotExclusive" > No
			</div>
			<br>
			<div>
				<span>Product Accessories Included</span>
				<input type="text" th:field="*{accessoriesIncluded}" required>
			</div>
			<br>
			<div>
				<span>Product Enabling</span>
				<input type="radio" name="CheckEnabled" value="Enable" required="required"> Enable
          	  	<input type="radio" name="CheckEnabled" value="Disable" > Disable
			</div>
			<br>
			<span>Product Article</span>
			<br>
			<div>
				<span>Article URL</span>
				<input type="text" th:field="*{article.articleUrl}">
			</div>
			<br>
			
			<span>Product Camerashots</span>
			<br>
			<br>
			<div>
				<span>Camerashot Images</span>
				<input type="file" th:field="${MultipartField.cameraShotsFile}" required multiple="multiple" 
				accept="image/png, image/jpeg, image/webp">
			</div>
			<br>
			<span>Product Discount</span>
			<br>
			<div>
				<span>Discounted Price</span>
				<input type="number" th:field="*{discount.discountedPrice}" min="50000" max="10000000" step="1000">
			</div>
			<br>
			<div>
				<span>Discount Percent</span>
				<input type="number" th:field="*{discount.discountPercent}" min="0" max="60" step="1">
			</div>
			<br>
			<div>
				<span>Discount End Date</span>
				<input type="datetime-local" th:field="*{discount.endDateInput}">
			</div>
			<br>
			<div>
				<span>Discount Enabling</span>
				<input type="radio" name="DiscountEnabled" value="Enable" required="required"> Enable
          	  	<input type="radio" name="DiscountEnabled" value="Disable" > Disable
			</div>
			<br>
			<div th:if="${ProductInputForm.colorVariantInputList != null}">
				<span>Product Color Variants</span>
				<br>
				<div th:each="colorVar, state : ${ProductInputForm.colorVariantInputList}">
					<span>Product color variant</span>
					<select th:field="*{colorVariantInputList[__${state.index}__].ColorID}">
							<div th:each="color :${ColorList}">
								<option th:value="${color.colorID}"  
								th:utext="${color.colorName}"></option>
							</div>
					</select>
					<br>
				<div>
					<span>Color Variant Gallery Path</span>
					<input type="file" th:field="*{colorVariantInputList[__${state.index}__].FileDatas}" multiple="multiple" 
					accept="image/png, image/jpeg, image/webp">
				</div>
				<br>
				</div>
			</div>
			<br>
			<span>Product Feature</span>
			<br>
			<div>
				<span>Feature Images</span>
				<input type="file" th:field="${MultipartField.featureFile}" required multiple="multiple" 
				accept="image/png, image/jpeg, image/webp">
			</div>
			
			<br>
			<span>Product Unboxing Review</span>
			<br>
			<div>
				<span>Unboxing Review Images</span>
				<input type="file" th:field="${MultipartField.unboxingFile}" required multiple="multiple" 
				accept="image/png, image/jpeg, image/webp">
			</div>
			<br>
			<span>Product Variant</span>
			<br>
			<div>
				<span>Original product ID</span>
				<input type="text" th:field="*{variant.productOriginalIdentifier}">
			</div>
			<br><div>
				<span>Product variant Name</span>
				<input type="text" th:field="*{variant.productVariantName}">
			</div>
			<!--br>
			<div th:each="sect ,state : ${ProductInputForm.specList}">
          		<input th:field="*{specList[__${state.index}__].SectionHeader}" 
          		readonly="readonly" value="sect.sectionHeader"></input>
          		<div th:each="attr, stat : ${sect.attributes}">
          		<input th:field="*{specList.attributes[__${stat.index}__].Key}" 
          		readonly="readonly" value="attr.key"></input>
          		<input th:field="*{specList.attributes[__${stat.index}__].Value}" 
          		value="attr.value"></input>
          		</div>
      		</div -->
			<br>
			<input type="submit" value="Create">
		</form>
	</div>
		
</body>
</html>