<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a th:href="@{/Admin/ViewProduct}">Back</a>
	
	<div th:if="${ProductUpdateForm == null && pID != null}">
		<div>
			<form th:action="@{/admin/products-management/view-or-update-product/step-2/{proID} (proID=${pID})}" 
			method="get">
				<span>Specify the number of additional color variant that this product will have:</span>
				<br>
				<input type="number" name="AdditionalColorVarNum" min="0" max="100" step="1" value="0">
				<input type="submit" value="Next">
			</form>
		</div>
	</div>
	
	<div th:if="${ProductUpdateForm != null}">
		<form th:action="@{/admin/products-management/update-product}" th:object="${ProductUpdateForm}" 
		 enctype="multipart/form-data" method="post">
			<br>
			<input type="hidden" name="AddColor" th:value="${AdditionalColor}" >
			<span>Product main attributes</span>
			<div>
				<span>Product ID</span>
				<input type="text" th:field="*{productID}" required value="*{productID}" readonly="readonly">
			</div>
			<br>
			<div>
				<span>Product Name</span>
				<input type="text" th:field="*{productName}" required value="*{productName}">
			</div>
			<br>
			<div>
				<span>Product Price</span>
				<input type="number" th:field="*{price}" required value="*{price}" min="50000" max="999000000" step="1000">
			</div>
			<br>
			<div>
				<span>Product Manufacturer</span>
					<input type="text" th:field="*{manufacturerID}" value="*{manufacturer.manufacturerName}" 
					required readonly="readonly"></input>
				<br>
			</div>
			<br>
			<div>
				<span>Product CategoryID</span>
				<input type="number" th:field="*{categoryID}" required readonly="readonly">
			</div>
			<br>
			<div>
				<span>Product Warranty</span>
				<input type="number" th:field="*{productWarranty}" required value="*{productWarranty}">
			</div>
			<br>
			<div>
				<span>Product Image</span>
				<input type="hidden" th:field="*{imageToShow}">
				<input type="file" th:field="${MultiField.imageFile}" accept="image/png, image/jpeg, image/webp">
				<br>
				<img th:src="@{'data:image/;base64,'+*{imageToShow}}" width="50px" height="50px">
			</div>
			<br>
			<div>
				<span>Product Interest Rate</span>
				<input type="number" th:field="*{interestRate}" required value="*{interestRate}"
				min="0" max="20" step="0.01">
			</div>
			<br>
			<div>
				<span>Product Exclusive</span>
          	  	<input th:if="${ProductUpdateForm.exclusive == true}" type="radio" name="CheckExclusive" value="Exclusive" required="required" checked="checked" 
				id="exclusiveButton">
				
				<input th:unless="${ProductUpdateForm.exclusive == true}" type="radio" name="CheckExclusive" value="Exclusive" required="required" 
				id="exclusiveButton">
				
				<label for="exclusiveButton">Yes</label>
				 
          	  	<input th:if="${ProductUpdateForm.exclusive == false}" type="radio" name="CheckExclusive" value="NotExclusive" checked="checked" 
				id="NotExclusiveButton">
				
				<input th:unless="${ProductUpdateForm.exclusive == false}" type="radio" name="CheckExclusive" value="NotExclusive" id="NotExclusiveButton">
				<label for="NotExclusiveButton">No</label>
			</div>
			<br>
			<div>
				<span>Product Accessories Included</span>
				<input type="text" th:field="*{accessoriesIncluded}" required value="*{accessoriesIncluded}">
			</div>
			<br>
			<div>
				<span>Product Enabling</span>
          	  	<input th:if="${ProductUpdateForm.enabled == true}" type="radio" name="CheckEnable" value="Enable" required="required" checked="checked" 
				id="enableButton">
				
				<input th:unless="${ProductUpdateForm.enabled == true}" type="radio" name="CheckEnable" value="Enable" required="required" 
				id="enableButton">
				
				<label for="enableButton">Enable</label>
				 
          	  	<input th:if="${ProductUpdateForm.enabled == false}" type="radio" name="CheckEnable" value="Disable" checked="checked" 
				id="disableButton">
				
				<input th:unless="${ProductUpdateForm.enabled == false}" type="radio" name="CheckEnable" value="Disable" id="disableButton">
				<label for="disableButton">Disable</label>
			</div>
			<br>
			<span>Product Article</span>
			<br>
			<div>
				<span>Article URL</span>
				<input type="text" th:field="*{article.articleUrl}" value="*{article.articleUrl}">
			</div>
			<br>
			
			<span>Product Camerashots</span>
			<br>
			<div>
				<span>Camerashot Images</span>
				<input type="file" th:field="${MultiField.cameraShotsFile}" accept="image/png, image/jpeg, image/webp" 
				multiple="multiple">
				<div th:if="${ProductUpdateForm.cameraShots != null}" th:each="camShot ,count : ${ProductUpdateForm.cameraShots}">
					<img th:src="@{'data:image/;base64,'+${camShot.toShowImage}}" width="50px" height="50px">
				</div>
			</div>
			<br>
			<span>Product Discount</span>
			<br>
			<div>
				<span>Discounted Price</span>
				<input th:if="${ProductUpdateForm.discount.discountedPrice == null}" type="number" 
				th:field="*{discount.discountedPrice}" min="50000" max="10000000" step="1000">
				
				<input th:if="${ProductUpdateForm.discount.discountedPrice != null}" type="number" 
				th:field="*{discount.discountedPrice}" min="50000" max="10000000" step="1000" value="*{discount.discountedPrice}">
			</div>
			<br>
			<div>
				<span>Discount Percent</span>
				<input th:if="${ProductUpdateForm.discount.discountPercent == null}" type="number" 
				th:field="*{discount.discountPercent}" min="0" max="60" step="1">
				
				<input th:if="${ProductUpdateForm.discount.discountPercent != null}" type="number" 
				th:field="*{discount.discountPercent}" min="0" max="60" step="1" value="*{discount.discountPercent}">
			</div>
			<br>
			<span th:if="${StartEqualsEnd1 != null}" th:utext="${StartEqualsEnd1}" style="color: red;"></span>
			<span th:if="${StartAfterEnd1 != null}" th:utext="${StartAfterEnd1}" style="color: red;"></span>
			<div>
				<span>Discount Start Date</span>
				<input th:if="${ProductUpdateForm.discount.startDateInput != null}" type="datetime-local" 
				th:field="*{discount.startDateInput}" value="*{discount.startDateInput}" 
				th:attr="min=${MinDateTime},
				max=${MaxDateTime}">
				
				<input th:unless="${ProductUpdateForm.discount.startDateInput != null}" type="datetime-local" 
				th:field="*{discount.startDateInput}" 
				th:attr="min=${MinDateTime},
				max=${MaxDateTime}">
				
			</div>
			<br>
			<div>
				<span>Discount End Date</span>
				<input th:if="${ProductUpdateForm.discount.endDateInput == null}" type="datetime-local" 
				th:field="*{discount.endDateInput}" th:attr="min=${MinDateTime},max=${MaxDateTime}">
				
				<input th:if="${ProductUpdateForm.discount.endDateInput != null}" type="datetime-local" required="required"
				th:field="*{discount.endDateInput}" value="*{discount.endDateInput}"
				th:attr="min=${MinDateTime},max=${MaxDateTime}">
			</div>
			<br>
			<div>
				<span>Discount Enabling</span>
				<div th:if="${ProductUpdateForm.discount != null}">
          	  		<input th:if="${ProductUpdateForm.discount.enabled == true}" type="radio" name="CheckDiscountEnable" 
          	  		value="Enable" checked="checked" id="discountEnableButton">
          	  		
					<input th:unless="${ProductUpdateForm.discount.enabled == true}" type="radio" name="CheckDiscountEnable"
				 	value="Enable" id="discountEnableButton">
				 	
					<label for="discountEnableButton">Enable</label> 
					
          	  		<input th:if="${ProductUpdateForm.discount.enabled == false}" type="radio" name="CheckDiscountEnable" 
          	  		value="Disable" checked="checked" id="discountDisableButton">
          	  		
					<input th:unless="${ProductUpdateForm.discount.enabled == false}" type="radio" name="CheckDiscountEnable" 
					value="Disable" id="discountDisableButton">
					
					<label for="discountDisableButton">Disable</label>
				</div>
				<div th:if="${ProductUpdateForm.discount == null}">
          	  		
					<input type="radio" name="CheckDiscountEnable" value="Enable">Enable
          	  		
					<input type="radio" name="CheckDiscountEnable" value="Disable">Disable
					
				</div>
			</div>
			<br>
			<br>
			<div>
				<span>Product Color Variants</span>
					<br>
					<div th:if="${ProductUpdateForm.colorVariantInputList != null}">
					<span th:if="${dupColor1 != null}" th:utext="${dupColor1}" style="color: red;"></span>
					<br>
					<div th:each="colorVar, state : ${ProductUpdateForm.colorVariantInputList}">
						<span>Product color variant</span>
						<select th:field="*{colorVariantInputList[__${state.index}__].ColorID}">
							<div th:each="color :${ColorList}">
								<option th:value="${color.colorID}"  
								th:utext="${color.colorName}"></option>
							</div>
						</select>
					<br>
					<div>
						<span>Color variant images</span>
						<input type="file" th:field="*{colorVariantInputList[__${state.index}__].FileDatas}" multiple="multiple" 
						accept="image/png, image/jpeg, image/webp">
					</div>
					<br>
					</div>
				</div>
				<br>
				<div th:if="${ProductUpdateForm.colorVariant != null}">
					<div th:each="colorVar, state : ${ProductUpdateForm.colorVarUpdateList}">
						<span>Product color variant</span>
						<input type="text" th:field="*{colorVarUpdateList[__${state.index}__].ForColorName}" 
						 value="${colorVar.forColorName}" readonly="readonly"></input>
						<input type="hidden" th:field="*{colorVarUpdateList[__${state.index}__].ForColorID}"></input>
						<br>
						<div>
							<span>Color Variant Gallery Path</span>
							<input type="file" th:field="*{colorVarUpdateList[__${state.index}__].UpdateFileDatas}" multiple="multiple" 
							accept="image/png, image/jpeg, image/webp">
							<br>
							<div th:each="var : ${ProductUpdateForm.colorVariant}">
								<img th:if="${var.colorID == colorVar.forColorID}" 
								th:src="@{'data:image/;base64,'+${var.toShowImage}}" width="50px" height="50px">
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
			<span>Product Feature</span>
			<br>
			<div>
				<span>Feature Images</span>
				<input type="file" th:field="${MultiField.featureFile}" accept="image/png, image/jpeg, image/webp" 
				multiple="multiple">
				<div th:if="${ProductUpdateForm.features != null}" th:each="feature : ${ProductUpdateForm.features}">
					<img th:src="@{'data:image/;base64,'+${feature.toShowImage}}" width="50px" height="50px">
				</div>
			</div>
			
			<br>
			<span>Product Unboxing Review</span>
			<br>
			<div>
				<span>Unboxing Review Images</span>
				<input type="file" th:field="${MultiField.unboxingFile}" accept="image/png, image/jpeg, image/webp" 
				multiple="multiple">
				<div th:if="${ProductUpdateForm.unboxing != null}" th:each="unbox : ${ProductUpdateForm.unboxing}">
					<img th:src="@{'data:image/;base64,'+${unbox.toShowImage}}" width="50px" height="50px">
				</div>
			</div>
			<br>
			<span>Product Variant</span>
			<br>
			<div>
				<span>Original product ID</span>
				<input th:if="${ProductUpdateForm.variant.productOriginalIdentifier != null 
				&& !#strings.isEmpty(ProductUpdateForm.variant.productOriginalIdentifier)}" type="text" readonly="readonly"
				th:field="*{variant.productOriginalIdentifier}" value="*{variant.productOriginalIdentifier}">
				
				<input th:if="${ProductUpdateForm.variant.productOriginalIdentifier == null 
				|| #strings.isEmpty(ProductUpdateForm.variant.productOriginalIdentifier)}" type="text" 
				th:field="*{variant.productOriginalIdentifier}">
			</div>
			<br><div>
				<span>Product variant Name</span>
				<input th:if="${ProductUpdateForm.variant.productVariantName != null}" type="text"
				th:field="*{variant.productVariantName}" value="*{variant.productVariantName}">
				
				<input th:if="${ProductUpdateForm.variant.productVariantName == null}" type="text" 
				th:field="*{variant.productVariantName}">
			</div>
			<br>
			<div>
				<span>Product Specifications</span>
				<br>
				<div th:each="group : *{specList}">
					<span th:utext="${group.section}"></span>
					<br>
					<br>
					<div th:each="attri : ${group.attributes}">
						<span th:utext="${attri.key}"></span>
						<span th:if="${attri.value instanceof T(java.lang.String)}" th:utext="${attri.value}"></span>
						<ul th:if="${attri.value instanceof T(java.util.ArrayList) }" th:each="keyVal : ${attri.value}">
							<li th:utext="${keyVal}">	
							</li>
						</ul>
					</div>
					<br>
				</div>
				<br>
			</div>
			<br>
			<input type="submit" value="Update">
		</form>
	</div>
</body>
</html>